<!DOCTYPE html>
<html lang="ja">
<head>
  <title>UNBOX</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
    <!--いれるもの！-->
    <!--メッセージ（文章：画像化されてるとうれしい）-->
    <!--なんか囲ってる箱-->
    <!--画像化するなら→保存ボタン-->
    
    <!--一旦contentだけ表示-->
    <p><%= @presents.content %></p>
</body>
</html>