<!DOCTYPE html>
<html lang="ja">
<head>
  <title>UNBOX</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <%= erb :navi %>
  <div class="topimage">
    <figure class="image">
      <img src="https://2.bp.blogspot.com/-C0tgnFFp_FM/UZYlZ5K5aZI/AAAAAAAATOc/vIvr0Dzm9_U/s800/christmas_tree.png" width:"30%">
    </figure>
  <div class="right">
    <p class="title">XmasGift for you</p>
  </div>
　</div>
</body>
</html>