<!DOCTYPE html>
<html lang="ja">
<head>
  <title>UNBOX</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./style.css">
  <script src="https://kit.fontawesome.com/2b2186e12e.js" crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/releases/v5.13.0/css/all.css" crossorigin="anonymous"></script>

</head>
<body>
  <%= erb :navi %>
  
  <!-- 受信ページへのリンクボタン -->

<div class="toxmastree">
  <a href="/christmastree" class="btn_13">XmasTree</a>
</div>
</body>
</html>