<!DOCTYPE html>
<html lang="ja">
<head>
  <title>UNBOX</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./style.css">
  <script src="https://kit.fontawesome.com/2b2186e12e.js" crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/releases/v5.13.0/css/all.css" crossorigin="anonymous"></script>

</head>
<body>
  <%= erb :navi %>
  <!-- Twitterログインとログアウトボタン -->
  <!--<a href="/signin/twitter" class="btn btn--red btn--radius">twitterでログイン</a>-->
  <a href="/signout" class="btn btn--red btn--radius">ログアウト</a>
  <a href="/sendto/<%= @user.id %>" class="btn btn--red btn--radius">メッセ</a>
  
  <!-- 受信ページへのリンクボタン -->
  <a href="/christmastree" class="btn2 btn-3d-circle">
  <span class="btn-3d-circle-content">
    <span class="btn-3d-circle-front">XmasTree</span>
  </span>
  <span class="btn-3d-circle-back"><i class="fas fa-mouse-pointer"></i></span>
</a>

<!-- アカウント名表示 -->
<h2>Hello,<%= @user.name %></h2>

</body>
</html>