<!DOCTYPE html>
<html lang="ja">
<head>
  <title>UNBOX</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./style.css">
  <script src="https://kit.fontawesome.com/2b2186e12e.js" crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/releases/v5.13.0/css/all.css" crossorigin="anonymous"></script>

</head>
<body>
  <%= erb :navi %>
  
  <!-- 受信ページへのリンクボタン -->
<div class="heightspace"></div>

<!--<h1 style="text-align: center">クリスマスツリーの下にプレゼントが届いているかも？見に行ってみよう！</h1>-->
<p id="nav-mypage">
  <a href="#tabpage1" class="btnlinestretches3"><span>プロフィール</span></a>
  <a href="#tabpage2" class="btnlinestretches3"><span>受け取ったプレゼントボックス</span></a>
  <a href="#tabpage3" class="btnlinestretches3"><span>送ったプレゼント</span></a>
</p>

<div id="tabbody">
   <div id="tabpage1">
     わぁ！
   </div>
   
   <div id="tabpage2">
     <!--受け取った内容-->
     
   </div>
   
   <div id="tabpage3">
     20222年以降実装予定
   </div>
</div>





<div class="toxmastree">
  <a href="/christmastree" class="btn_13">XmasTree</a>
</div>


<script type="text/javascript">
  //対象要素を得る
  var tabs = document.getElementById('nav-mypage').getElementsByTagName('a');
  var pages = document.getElementById('tabbody').getElementsByTagName('div');
  
  //タブの切り替え処理
  function changeTab() {
    //href属性値から対象のid名を抜き出す
    var targetid = this.href.substring(this.href.indexOf('#')+1,this.href.length);
    console.log(1)
    
    //指定のタブページだけを表示する
    for(var i = 0; i < pages.length; i++) {
      if( pages[i].id != targetid ) {
         pages[i].style.display = "none";
      }else {
         pages[i].style.display = "block";
      }
   }
    
    //クリックされたタブを前面に表示する
    for(var i = 0; i < tabs.length; i++){
      tabs[i].style.zIndex = "0";
    }
    this.style.zIndex = "10";
    
    //ページ偏移しないようにfalseを返す
    return false;
  }
  
  //すべてのタブに対して、クリック時にchangeTab関数が実行されるように指定する
  for(var i = 0; i<tabs.length; i++){
    tabs[i].onclick = changeTab;
  }
  
  
  //最初は先頭タブを選択しておく
  tabs[0].onclick();
</script>

</body>
</html>