<nav>
      <div class="appname">
        Unbox
      </div>
      <div class="space"></div>
      <% if !current_user.nil? %>
      <div class="username">
        <a href="/mypage">Hello,<%= @user.name %></a>
      </div>
      <div class="login">
        <a href="/signout" class="btn btn--red btn--radius">ログアウト</a>
      </div>
      <% else %>
      <div class="login">
        <a href="/signin" class="btn btn--red btn--radius">ログイン</a>
      </div>
      <% end %>
</nav>
<hr></hr>