<nav>
      <div class="appname">
        Unbox
      </div>
      <div class="space"></div>
      <% if !current_user.nil? %>
      <div class="username">
        Hello,<%= @user.name %>
      </div>
      <div class="login">
        <a href="/signout" class="btn btn--red btn--radius">ログアウト</a>
      </div>
      <% else %>
      <div class="login">
        <a href="/signin/twitter" class="btn btn--red btn--radius">Twitterでログイン</a>
      </div>
      <% end %>
</nav>
<hr></hr>