/*まずはお決まりのボックスサイズ算出をborer-boxに */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin:0;
  padding:0;
}

/*-------------------------------------------------*/

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #33743b;
  color: white;
  font-family: Georgia;
}

/*-------------------------------------------------*/
/*topページ*/

.topimage{
    display: flex;
    justify-content: flex-start;
}

.title{
  font-size: 5vmax;
  padding-top: 10%;
}

.sendform {
    
}

.img_tree {
  transform-origin: top center;
  transform: scale(0.7,0.7);
}

/*-------------------------------------------------*/
/*mypage*/

.toxmastree{
  position:fixed;
  bottom:50px;
  right:36px;
}

/*-------------------------------------------------*/
/*コンテンツページ*/

.heightspace{
  margin:2em 0;
}

.box{
  width:800px;
  min-height:550px;
  margin:0 auto;
  border-radius: 10px;/*角の丸み*/
  background-color: #e0c284;
  color: #6091d3;/*文字色*/
  border: solid 1px #fff;/*線*/
}

.content{
  font-size: 20px;
  display: flex;
  align-items: center;
  width:769px;
  min-height:432px;
  margin:0 auto;
  background-color: #ffffff;
  padding: 0.5em 1em;
  font-weight: bold;
  color: #000;/*文字色*/
  border: solid 1px #fff;/*線*/
}

/*-------------------------------------------------*/

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.btn--red,
a.btn--red {
  color: #fff;
  background-color: #ab1f2e;
}
.btn--red:hover,
a.btn--red:hover {
  color: #fff;
  background: #ab1f2e;
}

a.btn--radius {
   border-radius: 100vh;
}

a.btn_13 {
	display: flex;
  justify-content: space-between;
  align-items: center;
	text-align: center;
	text-decoration: none;
	width: 150px;
	height:60px;
	margin: auto;
	padding: 1rem 3rem;
	font-weight: bold;
	font-size:10px;
	background: #e0c284;
	color: #000000;
	border-radius: 100vh;
	position: relative;
	transition: 0.5s;
}
a.btn_13::before {
	content: '';
	position: absolute;
	top: calc(50% - 2px);
	right: 1em;
	transform: translateY(calc(-50% - 2px)) rotate(45deg);
	width: 10px;
	height: 1px;
	background: #000000;
}
a.btn_13::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	transform: translateY(-50%);
	width: 50px;
	height: 1px;
	background-color: #000000;
}
a.btn_13:hover {
	background: #ab1f2e;
	color: #ffffff;
}


.download-btn a {
    border-radius: 3px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 220px;
    padding: 10px 25px;
    color: #ab1f2e;
    transition: 0.3s ease-in-out;
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
}
.download-btn a:before {
    content: "\f019";
    position: relative;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 8px;
    color: #ab1f2e;
}
.download-btn a:hover {
  font-size: 16px;
    color: #FFF;
}

/*-------------------------------------------------*/

/*https://oshin.tokyo/entry/2021-gnavi-css*/
/*https://photoshopvip.net/97481*/

nav {
  width: 100%;
  height: 55px;
  background-color: #33743b;
  display: flex;/*よこ揃えにする*/
  align-items: center;
}

.appname{
  font-size: 40px;
  margin: 15px;
  padding: 0px;
}

.space{
  flex-grow:1;
}

.username{
  font-size: 15px;
}

.login{
  margin: 15px;
  padding: 0px;
}

/*-------------------------------------------------*/


.open {
	cursor:pointer;
}
#pop-up {
	display: none;
}
.overlay {
	display: none;
}
#pop-up:checked + .overlay {
	display: block;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.6);
}
.window {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 90vw;
	max-width: 360px;
    padding: 20px;
	height: 300px;
	background-color: #fff;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
	color: black;
}
.close {
	position: absolute;
	top: 4px;
	right: 4px;
	cursor:pointer;
}

/*-------------------------------------------------*/